.underline {
    display: inline-block;
}

.react-pdf__Page__canvas {
    width: auto !important;
    height: 1000px !important;
    margin: 0 auto !important;
}

.react-pdf__Page__textContent.textLayer {
    display: none !important;
}

.react-pdf__Page__annotations.annotationLayer {
    display: none !important;

}

.landingContent1 {
    border-radius: 25px;
    padding: 120px 50px;
    width: 90%;
    background-color: rgba(242, 242, 242, 0.5);
    z-index: 10;
    position: relative;
    overflow: hidden;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    background-image: url('../../Assets/Images/resumeBg.png');
    background-position: center center;
    background-size: cover;
}

.dark {
    .landingContent1 {
        background-color: rgba(32, 32, 32, 0.7) !important;
        background-image: url('../../Assets/Images/resumeBgWhite.png');
      }

    .form-control {
        background-color: rgb(0,0,0,0.3) !important;
        border-color:rgb(255,255,255,0.5) !important;
    }
}